 <body >
          <form  action="/users/createSession" method="POST">
            <h1 class ="heading">
                  Sign In
            </h1>
                <p class="input">Enter Email</p>
                <input type="email"  name="email"placeholder="Enter Email" required class="input">
                <p class="input">Enter Password </p>
                <input type="password" name="password" placeholder="Enter password" required class="input">
                
                <button type="submit" class="input button" > Sign In</button>
          </form>
</body>
         
          
   