      <body id="sign-up-input">
          <form action="/users/create" method="POST">
            <h1 class="heading">Sign Up</h1>
               <p class="input">Enter Email</p> 
                <input type="email"  name="email"  placeholder="Enter Email" required class="input">
                <p class="input">Enter Name</p> 
                <input type="text" name="name" placeholder="Enter name" required class="input">
               <p class="input">Enter Password </p> 
                <input type="password" name="password" placeholder="Enter password" required class="input">
               
               <p class="input">Confirm password</p> 
                <input type="password" name="confirmPassword"placeholder="Enter Confirm Password" required class="input">
                <button type="submit" class="input button"> Sign Up</button>
          </form>
       </body>
  