#outer-div {
  width: 100vw;
  height: 50px;
  background-color: #544d4d;
  padding: 5px;
  font-family: sans-serif;
  color: white;
  display: flex; }

#inner-div2 {
  color: white;
  list-style: none;
  padding-left: 10px; }
